# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store
.cache_ggshield

# Folders
_obj
_test
vendor
tilt_modules

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# state files
*.docker
Gopkg.lock

# built binaries
*.exe
*.test
*.prof
introspect*amd64
debug
pkg/operator/useless/bin/

#built TLS artefacts

#logs and play
telepresence*.log
/.play
kubernetes/k14s/kbld.lock.yaml

# infrabox
.infrabox
.infraboxsecrets.json
