# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# state files
*.docker
Gopkg.lock

# built binaries
*.exe
*.test
*.prof
introspect*amd64
debug

#built TLS artefacts
/etc/mycerts/webhook*.b64
/etc/mycerts/webhook*.csr
/etc/mycerts/webhook*.pem
kubernetes/ValidatingWebhookConfiguration.yaml

#logs and play
telepresence*.log
/.play

# infrabox
.infrabox
.infraboxsecrets.json
