# SPDX-FileCopyrightText: 2018 vasu1124
#
# SPDX-License-Identifier: CC0-1.0

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store
.cache_ggshield

# Folders
_obj
_test
vendor
tilt_modules
ocm/.gen
.vscode/*.log

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# state files
*.docker
Gopkg.lock

# built binaries
*.exe
*.test
*.prof
introspect-*
debug
pkg/operator/useless/bin/

#built TLS artefacts
my.key
my.pub

#logs and play
telepresence*.log
/.play
kubernetes/k14s/kbld.lock.yaml

# infrabox
.infrabox
.infraboxsecrets.json
