apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: valkey
  name: valkey
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: valkey
  template:
    metadata:
      labels:
        app: valkey
    spec:
      containers:
      - env:
        - name: ALLOW_EMPTY_PASSWORD
          value: "no"
        - name: VALKEY_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: valkey-secret
        image: valkey/valkey:8.1.4
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - valkey-cli -a $VALKEY_PASSWORD ping | grep PONG
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        name: valkey
        ports:
        - containerPort: 6379
          name: valkey
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - valkey-cli -a $VALKEY_PASSWORD ping | grep PONG
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        securityContext:
          runAsUser: 1001      
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
        volumeMounts:
        - mountPath: /data
          name: data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: valkey
      securityContext:
        fsGroup: 1001      

