apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# list of Resource Config to be Applied
resources:
- ../mongodb
- ../etcd
- ../introspect

# namespace: test

images:
- name: ghcr.io/vasu1124/introspect:1.0.0
  newName: ghcr.io/vasu1124/introspect
  newTag: "2.0.0"
- name: mongo:latest
  newName: mongo
  newTag: "8.0.16"