apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# list of Resource Config to be Applied
resources:
- ../mongodb
- ../etcd
- ../valkey
- ../introspect

# namespace: test

images:
- name: introspect:latest
  newName: ghcr.io/vasu1124/introspect
  newTag: 1.2.1   # x-release-please-version
- name: mongo:latest
  newName: mongo
  newTag: 8.2.3
