<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
    {{if eq .Version "1.0.0" }}
    body { background-color: #F0FFF0; }
    {{end}}
    {{if eq .Version "2.0.0" }}
    body { background-color: #F0F0FF; }
    {{end}}
    </style>
  </head>
  <div class="container">
    <body>
    <h1>Introspection-{{.Version}}</h1>
    <table class="table table-bordered">
      <tr><td><a href="/environ">/environ</a></td><td>List Environment of runtime & HTTP Request</td></tr>
      <tr><td><a href="/guestbook">/guestbook</a></td><td>Guestbook Demo with MongoDB</td></tr>
      <tr><td><a href="/mandelbrot?xmin=-1.8&ymin=-1.5&xmax=1.2&ymax=1.5">/mandelbrot</a></td><td>Mandelbrot Demo, default window with xmin=-1.8 ymin=-1.5 xmax=1.2 ymax=1.5</td></tr>
      <tr><td><a href="/mandelbrot?steps=10&xfmin=-1.110&yfmin=0.228&xfmax=-1.106&yfmax=0.232">/mandelbrot</a></td><td>Mandelbrot animated gif Demo, with steps=10 and default zoom window with xfmin=-1.110 yfmin=0.228 xfmax=-1.106 yfmax=0.232</td></tr>
      <tr><td><a href="/cookie">/cookie</a></td><td>Cookie Demo</td></tr>
      <tr><td><a href="/dynconfig">/dynconfig</a></td><td>Dynamic Configuration Demo</td></tr>
      <tr><td><a href="/election">/election</a></td><td>Leadership Election</td></tr>
      <tr><td><a href="/operator">/operator</a></td><td>Useless Machine Operator Demo</td></tr>
      <tr><td><a href="/validate">/validate</a></td><td>ValidatingWebhook Demo</td></tr>
      <tr><td><a href="/metrics">/metrics</a></td><td>Metrics endpoint for Prometheus</td></tr>
      <tr><td><a href="/healthz">/healthz</a></td><td>Liveliness endpoint for Kubernetes</td></tr>
      <tr><td><a href="/healthzr">/healthzr</a></td><td> Readyness endpoint for Kubernetes</td></tr>
    </table>
    </body>
  </div>
  </html>