<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/vuetify@0.16.9/dist/vuetify.min.css">
  <link rel="stylesheet" href="css/switch.css">
</head>

<body>
  <div id="app">
    <v-app class="grey darken-4">
      <main>
        <v-container fluid grid-list-xl>
          <v-layout row wrap>
            <v-flex xs6 v-for="item in itemList" :key="item.metadata.uid">
              <v-card raised color="blue-grey darken-2" class="text-xs-center">
                <v-card-title primary-title style="height: 80px;">
                  <div class="title grey--text text--lighten-2">{{"{{item.metadata.name}}"}}</div>
                </v-card-title>
                <v-container class="grey--text text--darken-2">
                  <v-layout row wrap>
                    <v-flex xs12 class="blue-grey darken-3">
                      <useless-machine prefix="rs" :id="item.metadata.uid" :name="item.metadata.name"
                        :desired="item.spec.desiredState" :namespace="item.metadata.namespace" @update="update"
                        :actual.sync="item.status.actualState" />
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-alert color="success"
                  :value="!item.status.actualState || item.spec.desiredState == item.status.actualState">
                  Everything is under control
                </v-alert>
                <v-alert color="error"
                  :value="item.status.actualState && item.spec.desiredState != item.status.actualState">
                  Houston, we have a problem
                </v-alert>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </main>
    </v-app>
  </div>



  <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify@0.16.9/dist/vuetify.js"></script>
  <script>
    Vue.component('useless-machine', {
      props: ['prefix', 'id', 'actual', 'desired', 'name', 'namespace'],
      computed: {
        checked: {
          get() {
            var state = this.actual
            if (!this.actual) {
              state = this.desired
            }
            return state === "On"
          },
          set(actual) {
            this.$emit('update', { name: this.name, namespace: this.namespace, state: actual ? "On" : "Off" })
          }
        },
        _id() {
          return this.prefix + '-' + this.id
        }
      },
      template: `
<span class="switch">
  <span class="switch-border1">
		<span class="switch-border2">
			<input :id="_id" type="checkbox" v-model="checked">
			<label :for="_id"></label>
			<span class="switch-top"></span>
			<span class="switch-shadow"></span>
			<span class="switch-handle"></span>
			<span class="switch-handle-left"></span>
			<span class="switch-handle-right"></span>
			<span class="switch-handle-top"></span>
			<span class="switch-handle-bottom"></span>
			<span class="switch-handle-base"></span>
			<span class="switch-led switch-led-green">
				<span class="switch-led-border">
					<span class="switch-led-light">
						<span class="switch-led-glow"></span>
					</span>
				</span>
			</span>
			<span class="switch-led switch-led-red">
				<span class="switch-led-border">
					<span class="switch-led-light">
						<span class="switch-led-glow"></span>
					</span>
				</span>
			</span>
		</span>
	</span>
</span>`
    })

    let ws

    const app = new Vue({
      el: '#app',
      data: {
        itemList: []
      },
      mounted() {
        if (ws) {
          return false
        }
        let wsurl = window.location.href
        wsurl = wsurl.replace(/^http/, 'ws')
        wsurl = wsurl.replace('operator', 'ws')
        ws = new WebSocket(wsurl);
        ws.onclose = evt => {
          ws = null
        }
        ws.onmessage = evt => {
          try {
            const message = JSON.parse(evt.data)
            this.itemList = message.items.sort((a, b) => a.metadata.creationTimestamp.localeCompare(b.metadata.creationTimestamp))
          }
          catch (err) {
            console.error(err)
          }
        }
        ws.onerror = evt => {
          console.error(evt.data);
        }
      },

      methods: {
        update(state) {
          if (ws) {
            ws.send(JSON.stringify(state))
          }
        }
      }
    })
  </script>
</body>

</html>
