<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      {{if .Flag }}
      body { background-color: #F0FFF0; }
      {{else}}
      body { background-color: #F0F0FF; }
      {{end}}
    </style>
  </head>
  <div class="container">
  <body>
  <div class="page-header">
    <h1>Validating Webhook Demonstration</h1>
  </div>

  <form action="/validate" method="post">
    <fieldset class="form-group border px-3">
      <legend class="w-auto px-2">Regular Expression</legend>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="Regexp" class="col-form-label">Regexp</label>
          <input type="text" list="regexp" class="form-control" name="Regexp"  aria-label="Regexp" value="{{.Handler.Regexp}}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" onclick="javascript:window.location.reload()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Refresh</button>
        </div>
      </div>
      <datalist id="regexp">
        <option value=".*"/>
        <option value="mendhak.*"/>
        <option value="nginx.*"/>
      </datalist>
    </fieldset>
  </form>

  <h3>Entries</h3>
  <table class="table table-striped">
    <tr>
        <th>UID</th>
        <th>Namespace</th>
        <th>Pod</th>
        <th>Allowed</th> 
    </tr>
    {{range $key, $value := .Handler.AdmissionReviews}}
    <tr>
      <td>{{$key}}</td>
      <td>{{$value.Request.Namespace}}</td>
      <td>{{$value.Request.Name}}</td>
      <td><input type="checkbox" aria-label="Allowed"  disabled="true" {{if eq $value.Response.Allowed true }}checked{{end}}></td>
    </tr>{{end}}
  </table>
  </body>
  </body>
</html>