# SPDX-FileCopyrightText: 2018 vasu1124
#
# SPDX-License-Identifier: CC0-1.0

name: Build
on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
    - 'release/*'
    tags:
      - '*'
    paths:
      - '**.go'
      - 'cmd/**'
      - 'pkg/**'
      - 'tmpl/**'
      - 'css/**'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - '!pkg/operator/useless/bin/**'
      - '!pkg/operator/useless/config/**'
      - '!pkg/operator/useless/hack/**'
      - '!pkg/operator/useless/Dockerfile'
      - '!pkg/operator/useless/Makefile'

# Declare default permissions
permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  build:
    name: Build and Push with Docker buildx
    runs-on: ubuntu-latest
    # env:
      # multi-platform build is possible, disabled because no demos with arm currently
      # linux/arm64
      # DOCKER_TARGET_PLATFORM: linux/amd64,linux/arm/v7

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@v2.13.2
      with:
        egress-policy: audit

    - name: Check out cache
      uses: actions/cache@v5
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          /tmp/.buildx-cache
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Set up Docker Buildx      
      uses: docker/setup-buildx-action@v3
      with:
        version: latest
      id: buildx

    - name: Check out code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Set version
      id: INTROSPECT_VERSION
      run: |
        echo "INTROSPECT_VERSION=$(git describe --tags --always --abbrev=0 --dirty)" >> "$GITHUB_OUTPUT" 
        echo "INTROSPECT_VERSION=$(git describe --tags --always --abbrev=0 --dirty)" >> $GITHUB_ENV

    - name: Docker login to DockerHub
      if: success()
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Docker login to GitHub Container Registry
      if: success()
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker Buildx (build+push)
      if: success()
      uses: docker/build-push-action@v6
      env:
        INTROSPECT_VERSION: ${{ env.INTROSPECT_VERSION }}
      with:
        context: .
        platforms: linux/amd64,linux/arm64 #linux/arm/v7
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ env.INTROSPECT_VERSION }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        build-args: |
          gitVersion=${{ env.INTROSPECT_VERSION }}
          gitCommit=${{ github.sha }}
          gitTreeState=clean
        file: ./Dockerfile

#    - name: Inspect image
#      if: success()
#      env:
#        INTROSPECT_VERSION: $(git describe --tags --always --abbrev=0 --dirty)
#      run: |
#        docker buildx imagetools inspect ${{ github.repository_owner }}:${{ env.INTROSPECT_VERSION }}
