name: Build
on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
    - 'release/*'
    paths:
      - '**.go'
      - 'cmd/**'
      - 'pkg/**'
      - 'tmpl/**'
      - 'css/**'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - '!pkg/operator/useless/bin/**'
      - '!pkg/operator/useless/config/**'
      - '!pkg/operator/useless/hack/**'
      - '!pkg/operator/useless/Dockerfile'
      - '!pkg/operator/useless/Makefile'

jobs:
  build:
    name: Build and Push with Docker buildx
    runs-on: ubuntu-latest
    env:
      # multi-platform build is possible, disabled because no demos with arm currently
      # linux/arm64
      # DOCKER_TARGET_PLATFORM: linux/amd64,linux/arm/v7 
      HELM_EXPERIMENTAL_OCI: 1

    steps:

    - name: Check out cache
      uses: actions/cache@v3
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          /tmp/.buildx-cache
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
      id: go

#    - name: Set up QEMU
#      uses: docker/setup-qemu-action@v1
#      with:
#        platforms: linux/amd64,linux/arm/v7

    - name: Set up Docker Buildx      
      uses: docker/setup-buildx-action@v2
      with:
        version: latest
      id: buildx

    - name: Check out code
      uses: actions/checkout@v3

    - name: Login to DockerHub
      if: success()
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
  
    - name: Login to GitHub Container Registry
      if: success()
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker Buildx (build+push) 1.0.0
      if: success()
      uses: docker/build-push-action@v4
      with:
        context: .
        # platforms: linux/amd64,linux/arm/v7
        push: true
        tags: |
          vasu1124/introspect:1.0.0
          ghcr.io/vasu1124/introspect:1.0.0
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new
        build-args: |
          gitVersion=1.0.0
          gitCommit=${{github.sha}}
          gitTreeState=clean
          RUN go build \
        file: ./Dockerfile

    # Temp fix
    # https://github.com/docker/build-push-action/issues/252
    # https://github.com/moby/buildkit/issues/1896
    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache

    - name: Inspect image
      if: success()
      run: |
        docker buildx imagetools inspect ghcr.io/vasu1124/introspect:1.0.0
        
    - name: Install Helm
      if: success()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: azure/setup-helm@v3
    - name: Helm login to ghcr
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | helm registry login --username ${{ github.repository_owner }} --password-stdin ghcr.io
    - name: Install OCM component-cli
      run: |
        mkdir -p $GITHUB_WORKSPACE/bin
        latest=$(curl --silent https://api.github.com/repos/gardener/component-cli/releases/latest | jq -r ".assets[].browser_download_url | select(test(\".*-linux-amd64.gz\"))")
        echo "::fetching latest ocm-cli from $latest"
        curl -L -o $GITHUB_WORKSPACE/bin/component-cli.gz $latest
        gunzip $GITHUB_WORKSPACE/bin/component-cli.gz
        chmod u+x $GITHUB_WORKSPACE/bin/component-cli
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
        $GITHUB_WORKSPACE/bin/component-cli version

    - name: Helm package & push chart to ghcr
      run: |
        make helm-push
    - name: create and publish OCM descriptors
      run: |
        make ctf-push